.card1 {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 110px;
    width: 220px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: rgb(243, 242, 242);
    margin-left: 200px;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1:hover .txt_card1, .card3:hover .txt_card1,.card2:hover .txt_card1, .card4:hover .txt_card1 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 500ms ease;
    transition: all 300ms ease;
    margin-top: 10px;
}

.card1:hover .link_card1, .card2:hover .link_card2, .card3:hover .link_card3, .card4:hover .link_card4  {
    display: block;
}

.head_card1 {
    display: flex;
}

.head_ai {
    margin-top: 2px;
    font-weight: 600;
    font-size: x-large;
    margin-left: 12px;
}

.link_card1 {
    color: purple;
    font-weight: bold;
    display: none;
}
.link_card2 {
    color: orangered;
    font-weight: bold;
    display: none;
}
.link_card3 {
    color: blue;
    font-weight: bold;
    display: none;
}
.link_card4 {
    color: rgb(92, 92, 6);
    font-weight: bold;
    display: none;
}

.txt_card1 {
    margin-top: 20px;
}

.total{
    display: flex;
}

.card2, .card3, .card4{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 110px;
    width: 220px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: rgb(231, 230, 230);
    margin-left: 20px;
}