.slide-container11{
    height: 650px;
    width: 550px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 15px;
    background-color: rgb(238, 237, 237);
    margin-left: 230px;
}

.indicator11{
    width: 2px;
  color: black;
  background-color: rgb(165, 164, 164);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  border-radius: 100px;
  margin-top: -10px;
}

.indicator11.active {
    background: black;
    color: black;
  }

.image-text11{
    margin-bottom: 12px;
    margin-top: 15px;
}

.cc1_cm_head{
  display: flex;
}
.cc1_cm_twity{
  margin-top: 30px;
  margin-left: -120px;
  font-weight: 400;
  color: gray;
}
.cc1_cm_name{
  margin-top: 12px;
  margin-left: 10px;
  font-weight: bold;
}
.cc1_cm_head_img{
  height: 50px;
  margin-top: 10px;
}
.first_cm_cc1{
  width: 270px;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-radius: 12px;
    background-color: rgb(238, 237, 237);
}
.cc1_tot{
  display: flex;
}
.cc1_cm{
  text-align: left;
  margin-top: 15px;
}
.cc1_blue{
  color: rgb(12, 131, 179);
  font-weight: 400;
}
.cc1_cm_twity1{
  margin-top: 30px;
  margin-left: -90px;
  font-weight: 400;
  color: gray;
}